<!DOCTYPE HTML>
<html>
  <head>
    <title>Error</title>
  </head>
  <body>
    <h1><%- error %></h1>
    <h1><%= message %></h1>
    <h2><%= status %></h2>
    <pre><%= stack %></pre>
  </body>
</html>